In [2]:
import pandas as pd
unique_city_names = pd.read_csv("uniqueCities.csv", names=["City"])
quality_of_life = pd.read_csv("movehubqualityoflife.csv")
quality_of_life

,City,Movehub Rating,Purchase Power,Health Care,Pollution,Quality of Life,Crime Rating
0,Caracas,65.18,11.25,44.44,83.45,8.61,85.70
1,Johannesburg,84.08,53.99,59.98,47.39,51.26,83.93
2,Fortaleza,80.17,52.28,45.46,66.32,36.68,78.65
3,Saint Louis,85.25,80.40,77.29,31.33,87.51,78.13
4,Mexico City,75.07,24.28,61.76,18.95,27.91,77.86
...,...,...,...,...,...,...,...
211,Dusseldorf,83.45,72.52,75.98,8.61,88.02,15.34
212,Tokyo,80.00,47.57,71.53,30.54,69.29,13.91
213,Abu Dhabi,86.40,68.03,48.02,53.42,80.80,10.86
214,Marbella,81.96,60.14,83.64,32.27,75.24,9.11
215,Malaga,84.30,45.77,69.17,30.55,67.90,9.11

In [10]:
quality = quality_of_life.groupby(["City"]).mean()
quality_of_live = quality.filter(items=unique_city_names["City"], axis=0)
life_quality = quality_of_live["Quality of Life"]
life_quality.to_csv("./processed_quality_of_live.csv")

,Movehub Rating,Purchase Power,Health Care,Pollution,Quality of Life,Crime Rating
City,,,,,,
New York,90.53,55.56,51.39,12.01,61.94,47.33
Los Angeles,86.86,62.75,68.61,75.20,62.82,65.74
Chicago,83.01,66.77,62.92,22.98,80.71,54.52
Houston,85.24,71.96,79.44,65.21,74.08,61.72
Philadelphia,83.31,68.77,54.17,38.64,65.53,68.58
...,...,...,...,...,...,...
Manila,68.31,14.80,80.56,65.22,13.14,66.36
Varna,71.11,20.34,50.23,80.84,36.03,36.46
Darwin,79.63,49.51,75.28,6.78,78.52,32.80
Cologne,82.18,59.18,67.88,68.41,82.82,27.08
Johannesburg,84.08,53.99,59.98,47.39,51.26,83.93

In [19]:
low = quality_of_live['Quality of Life'].quantile(0.0)
mid = quality_of_live['Quality of Life'].quantile(0.33)
high = quality_of_live['Quality of Life'].quantile(0.67)

lowdf = quality_of_live.loc[(quality_of_live['Quality of Life'] > low) & (quality_of_live['Quality of Life'] <= mid)]
middf = quality_of_live.loc[(quality_of_live['Quality of Life'] > mid) & (quality_of_live['Quality of Life'] <= high)]
highdf = quality_of_live.loc[(quality_of_live['Quality of Life'] > high)]

rating = []
for i in range(0, len(lowdf.index)):
    rating.append('Life could be better')
lowdf["Quality of Life Rating"] = rating
rating.clear()



rating = []
for i in range(0, len(middf.index)):
    rating.append('Life is good')
middf["Quality of Life Rating"] = rating
rating.clear()

rating = []
for i in range(0, len(highdf.index)):
    rating.append('Doesn\'t get any better!')
highdf["Quality of Life Rating"] = rating
rating.clear()

all_ratings = pd.concat([lowdf, middf, highdf])
#all_ratings

lowdf

C:\Users\JAMil\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\JAMil\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\JAMil\anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Movehub Rating,Purchase Power,Health Care,Pollution,Quality of Life,Crime Rating,Quality of Life Rating
City,,,,,,,
New York,90.53,55.56,51.39,12.01,61.94,47.33,Life could be better
Los Angeles,86.86,62.75,68.61,75.20,62.82,65.74,Life could be better
Philadelphia,83.31,68.77,54.17,38.64,65.53,68.58,Life could be better
Las Vegas,84.88,80.46,66.52,59.73,60.50,70.57,Life could be better
Detroit,70.63,73.81,63.05,83.45,50.99,76.69,Life could be better
Saint Petersburg,73.10,24.82,46.34,77.98,25.97,56.96,Life could be better
Athens,76.78,26.05,46.11,27.44,30.57,57.49,Life could be better
Rome,79.07,32.72,61.64,19.84,26.80,62.34,Life could be better
Florence,76.63,35.31,67.11,29.44,53.73,39.58,Life could be better
Bristol,79.66,39.76,88.89,36.22,67.91,42.71,Life could be better
Brighton,80.61,50.56,58.33,50.25,62.62,33.12,Life could be better
Dublin,90.45,50.13,41.12,30.54,65.27,48.31,Life could be better
Lima,73.19,23.22,53.70,58.49,22.67,65.31,Life could be better
Moscow,76.35,24.94,42.30,30.03,18.65,53.19,Life could be better
Paris,95.92,47.08,83.33,59.18,52.62,53.75,Life could be better
Cairo,67.93,11.90,56.48,86.16,17.25,48.81,Life could be better
Belgrade,71.65,21.46,52.53,77.08,35.69,37.97,Life could be better
Delhi,77.12,34.39,74.99,73.03,42.45,52.56,Life could be better
Milan,81.90,43.43,71.36,22.09,40.80,56.20,Life could be better
Lisbon,77.63,32.48,62.38,28.78,56.08,40.08,Life could be better
Bogota,70.60,14.52,73.89,14.54,29.33,46.02,Life could be better
London,100.00,53.17,69.53,57.95,47.89,50.14,Life could be better
Warsaw,76.76,35.77,63.33,86.16,51.82,32.03,Life could be better
Madrid,85.37,54.07,73.51,55.77,59.87,39.34,Life could be better
Naples,76.27,35.38,41.67,12.01,42.92,56.67,Life could be better
Nice,82.55,49.52,87.95,59.19,68.34,47.27,Life could be better
Malaga,84.30,45.77,69.17,30.55,67.90,9.11,Life could be better
Varna,71.11,20.34,50.23,80.84,36.03,36.46,Life could be better
Johannesburg,84.08,53.99,59.98,47.39,51.26,83.93,Life could be better

In [14]:
rating_final = all_ratings.drop(['Quality of Life'], axis=1)
rating_final.to_csv(".\processed_quality_rating.csv")